/* Next changes I need to make: 
Fix octopus image
SPACING
Table properties
*/

:root {
    --main-background: #eeeeee;
}

body {
    /* Nevermind, don't fix, apparently it's right??? */
    font-family: Arial;
    background-color: #e8e8e8;
}

#header {
    color: white;
    background-color: #0068e2;
    text-align: center;
    padding: 5px;
    margin-left: 40px;
    margin-right: 40px;
}

#header h1 {
    margin-bottom: 5px;
    font-size: 40px;
}

#header p {
    margin-top: 0;
    font-style: italic;
}

.important {
    color: #fc521c;
    font-weight: bold;
}

#main-content {
    background-color: var(--main-background);
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

#main-content h2, h3 {
    text-transform: uppercase;
}

#quiz-section {
    background-color: #e2f6ff;
    padding: 20px;
    border: 1px solid #cccccc;
}

#species-table {
    background-color: var(--main-background);
    margin-left: 40px;
    margin-right: 40px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

#species-table h2 {
    margin: 0;
}

table {
    text-align: left;
}

th {
    background-color: #8e8e8e;
    color: white;
}

#footer {
    background-color: var(--main-background);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 0;
}

#footer p {
    background-color: #c5c5c5;
    padding: 15px
}