/* Next changes I need to make: 
SPACING
- Under "Anatomy"
- Around "External Resources"
- Above "Octopus Quiz"
Table properties
- Text properties
- Cell sizes
*/

:root {
    --main-background: #eeeeee;
}

body {
    font-family: Arial;
    background-color: #e8e8e8;
    max-width: 80%;
    margin: 0 auto;
}

#header {
    color: white;
    background-color: #0068e2;
    text-align: center;
    padding: 5px;
    margin-left: 40px;
    margin-right: 40px;
}

#header h1 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 40px;
}

#header p {
    margin-top: 0;
    font-style: italic;
}

#main-content {
    background-color: var(--main-background);
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

#main-content h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
}

#main-content h3 {
    margin-bottom: 25px;
    text-transform: uppercase;
}

.important {
    color: #fc521c;
    font-weight: bold;
}

#quiz-section {
    background-color: #e2f6ff;
    padding: 20px;
    border: 1px solid #cccccc;
}

#quiz-section img {
    border: 4px solid #7700e2;
    float: right;
    margin-right: 50px;
    margin-top: 15px;
    width: 80px;
    height: auto;
}


#species-table {
    background-color: var(--main-background);
    margin-left: 40px;
    margin-right: 40px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}

#species-table h2 {
    margin: 0;
}

table {
    text-align: left;
}

th {
    background-color: #999999;
    color: white;
}

#footer {
    background-color: var(--main-background);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 0;
}

#footer p {
    background-color: #c5c5c5;
    padding: 15px
}